{% extends "base.html" %}

{% block body %}
  <a href="/" class="back">Go back</a>
  <p class="instructions">Click on a label to edit. Or print if the labels are ready to go.</p>
  <div class="label-sheet">
    {% if offset is not none %}
      {% for i in range(offset|int) %}
        <div class="label" contenteditable></div>
      {% endfor %}
    {% endif %}
    {% for label in labels %}
      <div class="label" contenteditable>
        <div class="label-text">
          <span class="category">{{ label.category }}</span>
          {% if label.dewey %}
            <span class="dewey">{{ label.dewey }}</span>
          {% endif %}
          <span class="item">{{ label.item|replace(',', ',<br>')|safe }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
