{% extends "base.html" %}

{% block body %}
  <a href="/" class="back">Go back</a>
  <p class="instructions">Click on a label to edit. Or print if the labels are ready to go.</p>
  <div class="label-sheet">
    {% if session.offset %}
      {% for i in range(session.offset|int) %}
        <div class="label" contenteditable></div>
      {% endfor %}
    {% endif %}
    {% for label in session.labels %}
      <div class="label" contenteditable>
        <span class="category">{{ label.category }}</span>
        <span class="number">{{ label.item }}</span>
      </div>
    {% endfor %}
  </div>
{% endblock %}
